<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	
	<section>
	<div class="my-card">
		<div class="card-body">
			
			<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
				
					<div class="col-md-10 offset-md-1">
					
					<form action="#"
					 th:object="${contact}"
					 enctype="multipart/form-data"
					 method="post"
					 th:action="@{/user/process-contact}"
					 class="mt-2"
					 >
					
					<div class="container text-center">   
					<div class="input-group ">
					
						<div class="input-group-prepend">
						<div  class="input-group-text ">@ </div>
						  
					</div>
					<input class="form-control" type="text" id="firstname" name="name" placeholder="Enter Name Here"/>
					
					</div>
					
					
					
					</div>
					
					
					
					
					
					
					
					</form>
				
				
					</div>
			
				</div>
		
		</div>
	</div>
	
	
	</section>
	
</body>
</html>